.pomodoroTimer {
    border: 1px solid black;
    display: flex;
    align-items: center;
    justify-content:center;
    max-width: 50%;
}

#svg circle {
    transition: stroke-Dashoffset .1s linear;
    stroke: #58e67e;
    stroke-width: 1.25em;
}

#svg #bar {
    stroke: #666;
}

#cont {
    display: block;
    height: 200px;
    width: 200px;
    margin: 2em auto;
    border-radius: 50%;
    position: relative;
}


#cont:after {
  content: attr(data-time);
  position: absolute;
  display: block;
  height: 160px;
  width: 160px;
  left: 50%;
  top: 45%;
  margin-top: -80px;
  margin-left: -80px;
  border-radius: 100%;
  line-height: 160px;
  font-size: 2em;
  text-align: center;
  color: #24c3ce;
}

.timerButton {
    position: absolute;
    margin-top: 26px;
}